<!DOCTYPE html>
<html lang="{{ page.lang }}" dir="{{ languages[page.lang].dir or 'ltr' }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ title }}</title>

    <!-- prettier-ignore -->
    <link rel="stylesheet" href="/styles/main.css">

    <link
      rel="alternate"
      hreflang="{{ page.lang }}"
      href="{{ meta.url }}{{ page.url }}"
    />

    {% for code, lang in languages %}
      {% if code != page.lang %}
      <link rel="alternate" hreflang="{{ code }}" href="{{ meta.url }}{{ page.url | locale_url(code) }}" />
      {% endif %}
    {% endfor %}

    <link
      rel="alternate"
      hreflang="x-default"
      href="{{ meta.url }}{{ page.url | locale_url('en') }}"
    />

    <link rel="canonical" href="{{ meta.url }}{{ page.url }}" />
    <meta
      name="description"
      content="{% if description %}
    {{ description }}
    {% else %}
    {{ meta.siteDescription }}
    {% endif %}"
    />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <meta property="og:site_name" content="{{ meta.siteName }}" />
    <meta property="og:title" content="{{ title }} | {{ meta.siteName }}" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="{{ description or meta.siteDescription }}" />
    <meta property="og:url" content="{{ meta.url }}{{ page.url }}" />
    <meta property="og:locale" content="{{ page.lang }}" />
    <meta property="og:image" content="{{ meta.url }}{{ meta.ogImage }}" />
  </head>

  <body>
    {% include "header.njk" %}

    <main id="main">
      <div class="page-head">
        <h1>{{ title }}</h1>
        {% include "langswitcher-dropdown.njk" %}
      </div>

      {{ content | safe }}
    </main>

    {% include "footer.njk" %}
  </body>
</html>