<footer>
  {{ languages[page.lang].availableText }}

  <nav id="footer" aria-label="{{ languages[page.lang].ariaLang }}">
    {% set locales = ["en", "zh-Hans", "zh-Hant"] %}
    {% set first = true %}
    {% for lang in locales %}
      {% if lang != page.lang %}
        {%- if not first %} / {% endif %}
        {% set first = false %}

        {% if lang == "zh-Hans" %}
          {% set label = "简体中文" %}
        {% elif lang == "zh-Hant" %}
          {% set label = "繁體中文" %}
        {% else %}
          {% set label = "English" %}
        {% endif %}

        <a href="{{ page.url | locale_swap(lang) }}" lang="{{ lang }}" hreflang="{{ lang }}">
          {{ label }}
        </a>
      {% endif %}
    {% endfor %}
  </nav>
</footer>