---
pagination:
    data: rdfZhHans
    size: 1
    alias: organizations
permalink: zh-Hans/organizations/{{ organizations.organization.value | lastSegment }}/index.html
---
<h1> {{ organizations.organizationLabel.value }}</h1>
<em>组织</em>
<h3> {{ organizations.description.value}} </h3>
<dl>
{% set skip = "organization,organizationLabel,description" %}
{{ propertySwitcher | dump }}
{%- for key, value in organizations %}
  {# organization, organizationLabel and description are already displayed#}
  {% if key not in skip %}
  {{ key | dump }}
  {# Labels #}
  {# Displaying the zh-Hans labels. Because the properties are pluralized in the SPARQL query, we need to un-pluralize them 
   in order to get the zh-Hans labels from the index. Index retrieved from rdfZhHansLabels.js file#}
  {% if key == "records_creator_for_list" or key == "maintainer_of_list" or key == "donor_for_list" or key == "founders" %}
    <dt><strong>{{ propertySwitcher[key | makeSingular].zhhans }}</strong></dt>
  {% else %}
    <dt><strong>{{ propertySwitcher[key].zhhans }}</strong></dt>
  {% endif%}

  {# Data Fields #}
  <dd>
  {# Terms #}
  {%- if key == "organization_type" or key == "neighborhood" or key == "country" %}
    <a href="/en/terms/{{ value.value | lastSegment }}">{{ value.value | labelFromUrl | capitalize }}</a>
  {# Website #}
  {%- elif key == "official_website" %}
    <a href="{{ value.value }}" target="_blank">{{ value.value }}</a>
  {# Founders #}
  {%- elif key == "founders" %}
    {% for item in value.value.split("|") %}
      <a href="/en/people/{{ item | lastSegment }}">{{ item | labelFromUrl}}</a><br>
    {% endfor %}
  {# Other Linked Records #}
  {%- elif key == "records_creator_for_list" or key == "maintainer_of_list" or key == "donor_for_list" %}
    {% for item in value.value.split("|") %}
      <a href="/en/collections/{{ item | lastSegment }}">{{ item | labelFromUrl}}</a><br>
    {% endfor %}
  {%- else%}
    {{ value.value }}
  {% endif %}
  </dd>
  {% endif %}
{%- endfor %}
</dl>

