---
pagination:
    data: rdf
    size: 1
    alias: collection
permalink: en/collection/{{ collection.organization.value | lastSegment }}/index.html
---
<h1> {{ collection.organizationLabel.value }}</h1>
<h3> {{ collection.description.value}} </h3>

<dl>
{%- for key, value in collection %}
  <dt><strong>{{ key }}</strong></dt>
  <dd>{{ value.value }}</dd>
{%- endfor %}
</dl>


