---
pagination:
    data: organizationsEn
    size: 1
    alias: organizations
permalink: en/organizations/{{ organizations.organization.value | lastSegment }}/index.html
---
<h1> {{ organizations.organizationLabel.value }}</h1>
<em>organization</em>
<h3> {{ organizations.description.value}} </h3>
<dl>
{% set skip = "organization,organizationLabel,description" %}
{%- for key, value in organizations %}
  {% if key not in skip %}
  <dt><strong>{{ key | changeCase }}</strong></dt>
  <dd>
  {%- if key == "organization_type" or key == "location" or key == "country" %}
    <a href="/en/terms/{{ value.value | lastSegment }}">{{ value.value | labelFromUrl | capitalize }}</a>
  {%- elif key == "official_website" %}
    <a href="{{ value.value }}" target="_blank">{{ value.value }}</a>
  {%- elif key == "email_address" %}
    <a href="mailto:{{ value.value }}">{{ value.value }}</a>
  {%- elif key == "founders" %}
    {% for item in value.value.split("|") %}
      <a href="/en/people/{{ item | lastSegment }}">{{ item | labelFromUrl}}</a><br>
    {% endfor %}
  {%- elif key == "records_creator_for_list" or key == "maintainer_of_list" or key == "donor_for_list" %}
    {% for item in value.value.split("|") %}
      <a href="/en/collections/{{ item | lastSegment }}">{{ item | labelFromUrl}}</a><br>
    {% endfor %}
  {%- else%}
    {{ value.value }}
  {% endif %}
  </dd>
  {% endif %}
{%- endfor %}
</dl>
{% if organizations.coordinate_location.value %}
  <strong><a href="/en/map/?org={{ organizations.organization.value | lastSegment }}">View on map</a></strong>
{% endif %}


