---
pagination:
    data: termfolder.termsEn
    size: 1
    alias: terms
permalink: en/terms/{{ terms.term.value | lastSegment }}/index.html
eleventyComputed:
    title: "{{ terms.termLabel.value}}"
    description: "{{ terms.description.value }}"
---
<p class="type-tag">term</p>
<p class="description"> {{ terms.description.value}} </p>
<dl>
{% if terms.wikidata_correlate.value %}
    <dt><strong>Wikidata Correlate</strong></dt>
        <dd>
            <a target="_blank" href="https://wikidata.org/wiki/{{ terms.wikidata_correlate.value }}">{{ terms.wikidata_correlate.value }}</a><br>
        </dd>
    
{% endif %}
    <dt><strong>Entities with term: "{{ terms.termLabel.value }}"</strong></dt>
    <dd>
        {% for item in referencedBy %}
            <a href="/en/{{ item.resource.value | firstSlash }}">{{ item.resourceLabel.value }}</a><br>
        {% endfor %}
    </dd>
</dl>
<h2></h2>

<ul>

</ul>